<div class="navbar navbar-light bg-dark">
<div class="container-fluid">
    <h2 class="text-light primary py-3">STUDENT MANGEMENT SYSTEM</h2>
    <div class="d-flex">
        <button class="btn btn-success" (click)="add()" data-bs-toggle="modal" data-bs-target="#exampleModal">Add student</button>&nbsp;&nbsp;
        <button class="btn btn-danger">Logout</button>
    </div>
</div>
</div>
<table class="table mt-4">
    <thead>
        <tr>
        <th scope="col">S.ID</th>
        <th scope="col">NAME</th>
        <th scope="col">EMAIL</th>
        <th scope="col">MOBILE</th>
        <th scope="col">CITY</th>
        <th scope="col">ACTION</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of allstudentsdata">
            <td>{{data.id}}</td>
            <td>{{data.name}}</td>
            <td>{{data.email}}</td>
            <td>{{data.mobile}}</td>
            <td>{{data.city}}</td>
            <td>                <button class="btn btn-info" (click)="update()"  data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>&nbsp;
                <button class="btn btn-danger">DELETE</button></td>
         
</tr>

    </tbody>
</table>

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div style="background-color: blue;" class="modal-header">
          <h5 style="color:white;font-size: medium;" class="modal-title" id="exampleModalLabel">STUDENT MANAGEMENT SYSTEM</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formValue">
                <div class="form-group">
                  <label for="exampleInputEmail1">Name</label>
                  <input type="name" class="form-control" formControlName="name" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name">
                <small *ngIf="formValue.get('name')?.invalid && formValue.get('name')?.touched"class="text-danger">Name is required</small>
                </div>
                <br>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="name" class="form-control" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small *ngIf="formValue.get('email')?.invalid && formValue.get('email')?.touched"class="text-danger">email is required</small>

                  </div>
                  <br>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Mobile</label>
                    <input type="number" class="form-control" formControlName="mobile" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter mobile no">
                <small *ngIf="formValue.get('mobile')?.invalid && formValue.get('mobile')?.touched"class="text-danger">mobile is required</small>

                  </div>
                  <br>
                  <div class="form-group">
                    <label for="exampleInputEmail1">City</label>
                    <input type="name" class="form-control" formControlName="city" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter city">
                <small *ngIf="formValue.get('city')?.invalid && formValue.get('city')?.touched"class="text-danger">city is required</small>

                  </div>
                  <!-- <small *ngIf="formValue.get('name')?.invalid && formValue.get('name')?.touched"></small> -->
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button *ngIf="showadd" type="button" (click)="addstudent()" class="btn btn-success">ADD</button>
          <button *ngIf="showupdate" type="button" class="btn btn-success">Update</button>

        </div>
      </div>
    </div>
  </div>